@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  h1 {
    position: absolute;
    width: 755px;
    height: 392px;
    left: 83px;
    top: 103px;

    font-family: NewYork;
    font-style: normal;
    font-weight: normal;
    font-size: 95px;
    line-height: 116px;
    display: flex;
    align-items: center;

    
    color: #4E4AFF;   
  }

  h2 {  
    position: absolute;
    width: 666px;
    height: 101px;
    left: 83px;
    top: 426px;

    font-family: NewYork;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 43px;
    display: flex;
    align-items: center;

    color: #4E4AFF;
    }

  h3 {
    position: absolute;
    width: 666px;
    height: 106px;
    left: 83px;
    top: 611px;

    font-family: NewYork;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 85px;
    display: flex;
    align-items: center;

    color: #4E4AFF;  
  }

  h4 {
    position: absolute;
    width: 42px;
    height: 64px;
    left: 203px;
    top: 664px;

    font-family: NewYork;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 43px;

    color: #4E4AFF;
  }

  h5 {
    position: absolute;
    width: 448px;
    height: 23px;
    left: 229px;
    top: 653px;
    
    font-family: NewYork;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 85px;
    display: flex;
    align-items: center;
    
    color: #4E4AFF;    
  }

 .line1 {
    position: absolute;
    width: 834px;
    height: 3px;
    left: 63px;
    top: 1353px;
  }
}