@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  h1 {
    position: absolute;
    width: 688px;
    height: 126px;
    left: 136px;
    top: 83px;

    font-family: Mom´sTypewriter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;

    color: #4F4F4F;
  }

  h2 {
    position: absolute;
    width: 421px;
    height: 43px;
    left: 184px;
    top: 190px;
    
    font-family: Mom´sTypewriter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    
    color: #4F4F4F;
  }

  h3 {
    position: absolute;
    width: 670px;
    height: 61px;
    left: 136px;
    top: 224px;
    
    font-family: Mom´sTypewriter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    
    color: #4F4F4F;
  }

  h4 {
    position: absolute;
    width: 380px;
    height: 31px;
    left: 184px;
    top: 292px;
    
    font-family: Mom´sTypewriter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    
    color: #4F4F4F;
  }

  h5 {
    position: absolute;
    width: 670px;
    height: 61px;
    left: 136px;
    top: 340px;
    
    font-family: Mom´sTypewriter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    
    color: #4F4F4F;
  }

  h6 {
    position: absolute;
    width: 237px;
    height: 31px;
    left: 184px;
    top: 390px;
    
    font-family: Mom´sTypewriter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    
    color: #4F4F4F;
  }

  h7 {
    position: absolute;
    width: 492px;
    height: 732px;
    left: 234px;
    top: 447px;
    
    font-family: Traveling _Typewriter;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    display: flex;
    align-items: center;
    
    color: #4F4F4F;
  }

  h8 {
    position: absolute;
    width: 688px;
    height: 280px;
    left: 136px;
    top: 1164px;
    
    font-family: Mom´sTypewriter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    
    color: #4F4F4F;
  }

  h9 {
    position: absolute;
    width: 688px;
    height: 23px;
    left: 136px;
    top: 1405px;
    
    font-family: Mom´sTypewriter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-indent: 30px;
    
    color: #4F4F4F;
  }

  .cover {
  position: absolute;
  width: 960px;
  height: 1497px;
  left: 960px;
  top: 0px;

  background: rgba(255, 68, 203, 0.19);
  }

  .survival {
    position: absolute;
    width: 755px;
    height: 213px;
    left: 1035px;
    top: 24px;    
  }

  .isnt {
    position: absolute;
    width: 549.14px;
    height: 241.99px;
    left: 1156px;
    top: 247.61px;
  }

  .enough {
    position: absolute;
    width: 700.56px;
    height: 318.51px;
    left: 1087px;
    top: 411px;
  }

  .iwaslate {
    position: absolute;
    width: 856px;
    height: 224px;
    left: 1014px;
    top: 763px;
  }

  .oryouwereearly {
    position: absolute;
    width: 920px;
    height: 187px;
    left: 995px;
    top: 984px;
  }

  .eitherone {
    position: absolute;
    width: 571px;
    height: 132px;
    left: 1157px;
    top: 1191px;
  }

  .samemission {
    position: absolute;
    width: 878px;
    height: 120px;
    left: 973px;
    top: 1343px;
  }
}