@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  position: relative;
  width: 1920px;
  height: 1497px;
  background: white;


  .nftwhite {
    position: absolute;
    width: 57px;
    height: 57px;
    left: 878px;
    top: 17px; 
  }

  h1 {
    position: absolute;
    width: 720px;
    height: 1265px;
    left: 114px;
    top: 98px;
    
    font-family: 'MADE Future X';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    /* or 135% */
    
    display: flex;
    align-items: center;
    
    color: #000000;    
  }

.zk{
  position: absolute;
width: 560px;
height: 503px;
left: 1159px;
top: 27px;

}  

.rect {
  position: absolute;
  width: 960px;
  height: 1497px;
  left: 960px;
  top: 0px;
  
}
}
  