@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  position: relative;
  width: 1920px;
  height: 1497px;
  background: white;

 
  .canvas {
    overflow: hidden;
    background-color: #ffffff;

  }
  

}
  