@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  position: relative;
  width: 1920px;
  height: 1497px;
  background: black;

  .background {
    position: absolute;
    width: 960px;
    height: 1185px;
    left: 0px;
    top: 0px;
  }

  .glassone {
    position: absolute;
    width: 248px;
    height: 185px;
    left: 100px;
    top: 81px;
  }

  .zeroglasses {
    position: absolute;
    width: 483px;
    height: 483px;
    left: 238px;
    top: 944px;
  }

  .glasstwo {
position: absolute;
width: 249px;
height: 185px;
left: 356px;
top: 81px;
  }

  .glassthree {
    position: absolute;
    width: 249px;
    height: 185px;
    left: 614px;
    top: 81px;  
  }

  h1 {
    position: absolute;
    width: 760px;
    height: 37px;
    left: 100px;
    top: 320px;
    
    font-family: 'NewYork';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
  }

  h2 {
    position: absolute;
    width: 320px;
    height: 19px;
    left: 320px;
    top: 390px;
    
    font-family: 'NewYork';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height, or 127% */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
  }

  h3 {
    position: absolute;
    width: 549px;
    height: 19px;
    left: 205px;
    top: 522px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    /* identical to box height, or 106% */
    
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    
    color: #FFFFFF;
  }

  .cc0text1 {
    color: white;  
  } 

  .videoglasses {
    position: absolute;
    width: 763px;
    height: 485px;
    left: 98px;
    top: 60px;
  }

  h4 {
    position: absolute;
    width: 760px;
    height: 37px;
    left: 1174px;

    top: 1193px; 
    
    font-family: NewYork;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: white;    
  }
  
  h5 {
    position: absolute;
    width: 549px;
    height: 19px;
    left: 1164px;
    top: 1263px;
    
    
    font-family: 'NewYork';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height, or 127% */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
  }

img {
  position: absolute;
 // width: 787px;
  height: 1190px;
  left: 965px;
  top: -29px;
  
}

  .collect {
    position: absolute;

    background: #FFEF62;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
  }

  .collectbutton{
    position: absolute;
    width: 166px;
    height: 42px;
    left: 1373px;
    top: 1325px;
  

    background: #FFEF62;
    width: 130px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    padding: 0.5rem 1rem;
    font-family: Lemon Milk;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    border: none;
    cursor: pointer;
  
    color: #4E4AFF;
  } 

  h6 {
    position: absolute;
    width: 549px;
    height: 19px;
    left: 1164px;
    top: 1405px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;
    /* identical to box height, or 146% */
    
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    
    color: white;    
  }

  .cc0text {
    color: white;  
  } 


  .collectbutton1{
    position: absolute;
    width: 166px;
    height: 42px;
    left: 397px;
    top: 441px;
    
    background: #FFEF62;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    padding: 0.5rem 1rem;
    font-family: Lemon Milk;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    border: none;
    cursor: pointer;
  
    color: #4E4AFF;
  } 


  .h7 {
    position: absolute;
    width: 478px;
    height: 37px;
    left: 240px;
    top: 633px;
    
    font-family: 'NewYork';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
  }

  .h8 {
    position: absolute;
    width: 644px;
    height: 38px;
    left: 158px;
    top: 693px;
    
    font-family: 'NewYork';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    /* or 127% */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
  }

  .h9 {
    position: absolute;
    width: 549px;
    height: 19px;
    left: 204px;
    top: 830px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    /* identical to box height, or 106% */
    
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
  }

  .cc0text2 {
    color: white;  
  } 


  .collectbutton2{
    position: absolute;
    width: 166px;
    height: 42px;
    left: 397px;
    top: 760px;

    
    background: #FFEF62;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    padding: 0.5rem 1rem;
    font-family: Lemon Milk;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    border: none;
    cursor: pointer;
  
    color: #4E4AFF;
  } 

  .whiterect {
    position: absolute;
width: 960px;
height: 312px;
left: 0px;
top: 1185px;
  }

  .zoomButton {
    position: absolute;
    width: 43px;
    height: 43px;
    left: 750px;
    top: 485px;
    border: none;
    padding: 0;
    object-fit: fill;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background: transparent;
      transform: scale(1.1);
    }    
  }
}
  