@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  position: relative;
  width: 1920px;
  height: 1497px;
  background-color: #1A1A1A;
  
 .one {
    color: lime; 
    font-family: "Courier";
    font-size: 25px;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 0;
    margin-left: 72px;
    // margin: 30px 194px 0 72px;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    animation: type 3s steps(20, end); 
  }

  .two {
    color: lime; 
    font-family: "Courier";
    font-size: 25px;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 0;
    margin-left: 72px;
    white-space: nowrap;
    overflow: hidden;
    width: 600px;
    animation: type2 8s steps(40, end); 
  }

  .three {
    color: lime; 
    font-family: "Courier";
    font-size: 25px;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 0;
    margin-left: 72px;
    white-space: nowrap;
    overflow: hidden;
    width: 1800px;
    animation: type3 16s steps(120, end); 
  }
  
  // p:nth-child(4){
  //   animation: type3 8s steps(60, end);
  // }
  
  p a{
    color: lime;
    text-decoration: none;
  }
  
  span{
    animation: blink 1s infinite;
  }
  
  @keyframes type { 
    from { width: 0; } 
  } 
  
  @keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100; } 
  }
  
  @keyframes type3{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100; } 
  }
  
  @keyframes blink{
    to{opacity: .0;}
  }
  
  ::selection{
    background: #1A1A1A;
  }
}
  