@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  position: relative;
  width: 1920px;
  height: 1497px;
  background: black;

  .nftwhite {
    position: absolute;
    width: 57px;
    height: 57px;
    left: 1850px;
    top: 17px; 
  }

  .title {
    position: absolute;
    width: 1157px;
    height: 100px;
    left: 104px;
    top: 86px;
    
    font-family: 'Mechanical Machine';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 100px;
    /* identical to box height, or 143% */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    
  }

  .para1 {
    color: white; 
    font-family: "Mechanical Machine";
    position: absolute;
    width: 750px;
    height: 120px;
    left: 1344px;
    top: 1081px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    /* or 133% */

    display: flex;
    align-items: center;
    text-align: right;

    color: #FFFFFF;
  }
 
  .para2 {
    position: absolute;
    width: 750px;
    height: 80px;
    left: 1167px;
    top: 1236px;
    
    font-family: 'Mechanical Machine';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    /* or 133% */
    
    display: flex;
    align-items: center;
    text-align: right;
    
    color: #FFFFFF;    
  }

  .para3 {
    position: absolute;
    width: 750px;
    height: 80px;
    left: 1167px;
    top: 1351px;
    
    font-family: 'Mechanical Machine';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    /* or 133% */
    
    display: flex;
    align-items: center;
    text-align: right;
    
    color: #FFFFFF;
    
  }
}