@keyframes scrolling {
  0% { transform: translateX(-1483px); }
  100% { transform: translateX(0px); }
}

.bottomLine {
  width: 100%;
  border: 4px solid white;
  color: white;
  overflow: hidden;
}

.animationForm {
  display: flex;
  animation: scrolling 13s linear infinite;

  .node {
    display: flex;
    align-items: center;

    .bottomItem {
      padding: 1rem 3rem;
      background: transparent;
      font-family: "Inter";
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      white-space: nowrap;
    }
  }
}

