@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 1018px;

  .background {
    position: absolute;
    width: 375px;
    height: 1018px;
    left: 0px;
    top: 0px;
  }

  h1 {
    position: absolute;
    width: 251px;
    height: 215px;
    left: 40px;
    top: 100px;

    font-family: 'NewYork';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 43px;
    display: flex;
    align-items: center;
    
    color: #4E4AFF;
  }

   h2 {
    position: absolute;
    width: 191px;
    height: 18px;
    left: 40px;
    top: 291px;
    
    font-family: 'NewYork';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    
    color: #4E4AFF;
  }
}