@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: white;
  height: 1199px;

  .cover {
    position: absolute;
    width: 375px;
    height: 1199px;
    left: 0px;
    top: 0px;
  
    background: rgba(255, 68, 203, 0.19);
  }
  
  .survival {
    position: absolute;
    width: 266px;
    height: 75px;
    left: 54px;
    top: 152px;
  }

  .isnt {
    position: absolute;
    width: 327px;
    height: 144px;
    left: 24px;
    top: 267px;
  }

  .enough {
    position: absolute;
    width: 317px;
    height: 144px;
    left: 29px;
    top: 421px;
  }

  .iwaslate {
    position: absolute;
    width: 332px;
    height: 87px;
    left: 21px;
    top: 653px;
  }

  .oryouwereearly {
    position: absolute;
    width: 328px;
    height: 67px;
    left: 23px;
    top: 777px;
    
  }

  .eitherone {
    position: absolute;
    width: 347px;
    height: 80px;
    left: 14px;
    top: 881px;
    
  }

  .samemission {
    position: absolute;
    width: 352px;
    height: 48px;
    left: 11px;
    top: 998px;
  }
}
