@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 1869px;
  background-color: white;

  h1 {
    position: absolute;
    width: 258px;
    height: 1554px;
    left: 59px;
    top: 61px;

    font-family: 'Courier New';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
  }
}
