@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  position: relative;
  width: 375px;
  height: 773px;

  
  background: white;

 .pose1 {
  position: absolute;
  width: 375px;
  height: 773px;
  left: 0px;
  top: 0px;
  
 }

 h1 {
  position: absolute;
width: 243px;
height: 69px;
left: 120px;
top: 696px;

font-family: 'Sister Spray';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 23px;
/* or 230% */

display: flex;
align-items: center;
text-align: right;

color: #FF2B48;
 }


 .nftblack{
  position: absolute;
  width: 30px;
  height: 30px;
  left: 330px;
top: 17px;
}
}