@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  position: relative;
  width: 375px;
  height: 5332.15px;

  
  background: white;

.panel {
  position: absolute;
  width: 375px;
  height: 5332.15px;
  left: 0px;
  top: 0px;
}

.nftblack{
  position: absolute;
  width: 30px;
  height: 30px;
  left: 330px;
top: 17px;
}

}