@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  position: relative;
  width: 375px;
  height: 2018px;
  
  background: #FFFFFF;

  h1 {
    position: absolute;
    width: 298px;
    height: 400px;
    left: 38px;
    top: 130px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #4F4F4F;
  }

  h2 {
    position: absolute;
    width: 176px;
    height: 46px;
    left: 99px;
    top: 620px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 27px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #4F4F4F;
    }

    h3 {
      position: absolute;
width: 230px;
height: 23px;
left: 72px;
top: 775px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 19px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;

color: #4F4F4F;
    }

    h4 {
      position: absolute;
width: 275px;
height: 1072px;
left: 50px;
top: 825px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;

color: #4F4F4F;
    }

.infinity {
  position: absolute;
width: 33px;
height: 33px;
left: 162px;
top: 691px;
}

.nftwhite{
  position: absolute;
  width: 30px;
  height: 30px;
  left: 330px;
top: 17px;
}

}
