@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  position: relative;
  width: 375px;
  height: 773px;

  
  background: white;


.nftblack{
  position: absolute;
  width: 30px;
  height: 30px;
  left: 330px;
top: 17px;
}

video {
  position: absolute;
  width: 375px;
  height: 264px;
  left: 0px;
  top: 0px;
}

}