@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  position: relative;
  width: 375px;
  height: 773px;

  
  background: black;

  img {
    position: absolute;
    width: 375px;
    height: 1185px;
    left: 0px;
    top: 0px;
  }

}