@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 586px;

  .emblem {
    position: absolute;
    width: 375px;
    height: 586px;
    left: 0px;
    top: 0px;
  }

  .nftblack {
    position: absolute;
    width: 57px;
    height: 57px;
    left: 307px;
    top: 17px;
  }
}
